Hospital management system/README.md
Hospital management system/account.php
Hospital management system/adminlogin.php
Hospital management system/apply.php
Hospital management system/connection.php
Hospital management system/doctor/
Hospital management system/doctorlogin.php
Hospital management system/img/
Hospital management system/include/
Hospital management system/index.php
Hospital management system/patient/
Hospital management system/patientlogin.php
